<form method="POST">

<label>Sleep Hours:</label>
<input type="number" name="sleep">

<br><br>

<label>Water Intake (Litres):</label>
<input type="number" step="0.1" name="water">

<br><br>

<label>Energy Level (1-10):</label>
<input type="number" min="1" max="10" name="energy">

<br><br>

<label>Dizziness:</label>
<select name="dizzy">
    <option>No</option>
    <option>Yes</option>
</select>

<br><br>

<button type="submit">Check Recovery</button>

</form>

<h3>{{ score }}</h3>
<h3>{{ advice }}</h3>